################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/LMS-WebApplication/obj/Debug
/Lbl-ServerApp/obj/Debug
/.vs
