
<input type="text" ng-model="vm.searchRequest.name" palceholder="name keyword"/>
<input type="text" ng-model="vm.searchRequest.phone" palceholder="phone keyword" />
<button ng-click="vm.search()">Seach</button>

<table>
    <thead>
        <tr>
            <td ng-click="vm.sort('name')">Name</td>
            <td  ng-click="vm.sort('phone')">Phone</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="s in vm.students">
            <td>{{s.name}}</td>
            <td>{{s.phone}}</td>
        </tr>
    </tbody>
</table>
